<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mywaste">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

<!--        Chesda Segment-->
        <activity android:name=".Chesda.Activity.SearchActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".Chesda.Activity.MyItemDetailActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".Chesda.Activity.EditMyItemActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".Chesda.Activity.MyItemActivity"
            android:screenOrientation="portrait">

        </activity>

        <!--        David Segment-->
        <activity android:name=".David.activity.ItemDetailActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".David.activity.NewsFeedActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".David.activity.HomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        Lyhour Segment-->
        <activity android:name=".Lyhour.Edit_Activity"
            android:screenOrientation="portrait"/>

<!--        Viseth Segment-->
        <activity android:name=".Viseth.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Viseth.RegisterActivity"
            android:screenOrientation="portrait">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
    </application>

</manifest>